@model IEnumerable<DonaldsonMotors.Models.SystemParts.Slot>

@using DonaldsonMotors.Models.SystemParts

@{
    ViewBag.Title = "CheckAvalability";
}

<h2>CheckAvalability</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Drop off time start
        </th>
        <th>
            Drop off time end
        </th>
        <th>
            Availability
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end)
        </td>
        <td>
            @if (item.desc.Equals("Book Now"))
            {
                 
                DateTime passedDate = item.date;

                TimeSpan ts = new TimeSpan(item.start, 0, 0);

                passedDate = passedDate.Date + ts;
                
                @Html.ActionLink("Book Now", "SelectVehicle", new { date = passedDate })

            }
            else
            {
                @Html.Label("Unavailable")
            }
        </td>
    </tr>
}

</table>
