@{
    ViewBag.Title = "CheckAvalability";
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/fullcalendarcss")
<script>
    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'bootstrap' ],
      themeSystem: 'bootstrap'
    });
 </script>


<div id="calendar">
    <!-- FullCalendar is loaded here. -->
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/fullcalendarjs")

<script type="text/javascript">
            $(document).ready(function () {
                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    firstDay: 1, //The day that each week begins (Monday=1)
                    slotMinutes: 60,
                    events: '@Url.RouteUrl(new{ action="GetEvents", controller="Calendar"})'
                });
            });

</script>
